body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

#Info-output{
    position :absolute;
    top: 100px;
    left: 0px;
    padding: 2%;
    border: 1px outset red;
    background-color: lightblue;    
    text-align:  left;
    
}

